{% extends 'base.html' %}
{% load static %}

{% block title %}
    Update: {{ project_name }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <h2>Update Project</h2>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-success" type="submit" value="Save"/>
                <a href="{% url 'project_detail' project_uuid=project_uuid %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    {% else %}
        <div class="container">
            <p>You are not currently logged in or are not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}