{% extends 'base.html' %}
{% load static %}

{% block title %}
    Project: {{ project.name }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated and is_pc or user.is_authenticated and is_po or user.is_authenticated and is_pm or user.is_authenticated and user.is_site_admin %}
        <div class="container">
            <h2>{{ project.name }}</h2>
            <table class="table table-striped table-bordered my-4">
                <tr>
                    <td>Description</td>
                    <td>{{ project.description }}</td>
                </tr>
                <tr>
                    <td>Is Public?</td>
                    <td>{{ project.is_public }}</td>
                </tr>
                <tr>
                    <td>Experiments</td>
                    <td>
                        {% for experiment in experiments %}
                            <a href="{% url 'experiment_detail' experiment_uuid=experiment.uuid %}">
                                {{ experiment.name }}
                            </a>
                            : {{ experiment.description }}<br>
                        {% endfor %}
                    </td>
                    <td>
                        <button class="btn btn-success mr-2">
                            <a href="{% url 'experiment_create' %}?project_id={{ project.id }}" class="unlink">
                                Create a New Experiment
                            </a>
                        </button>
                    </td>
                </tr>
                <!-- RM_CICD -->
{#                <tr>#}
{#                    <td>CI/CD</td>#}
{##}
{#                    <td>#}
{#                        {% if cicd.name %}#}
{#                            <a href="{% url 'cicd_detail' cicd.uuid %}" class="unlink" style="color: dodgerblue">#}
{#                            {{ cicd.name }}#}
{#                        {% else %}#}
{#                            Not Created#}
{#                        {% endif %}#}
{#                        </a>#}
{#                    </td>#}
{##}
{#                    {% if not cicd.name %}#}
{#                        {% if is_pc or is_po or is_site_admin %}#}
{#                            <td>#}
{#                                <button class="btn btn-success mr-2">#}
{#                                    <a href="{% url 'cicd_create' %}?project_uuid={{ project.uuid }}"#}
{#                                       class="unlink">#}
{#                                        Create CI/CD#}
{#                                    </a>#}
{#                                </button>#}
{#                            </td>#}
{#                        {% endif %}#}
{#                    {% endif %}#}
{#                </tr>#}
                <tr>
                    <td>Project Creator</td>
                    <td>{{ project.project_creator }}</td>
                </tr>
                <tr>
                    <td>Project Owners</td>
                    <td>
                        {% for owner in project_owners %}
                            {{ owner.display_name }}<br>
                        {% endfor %}
                    </td>
                    {% if is_pc or user.is_site_admin %}
                        <td>
                            <button class="btn btn-info mr-2">
                                <a href="{% url 'project_update_owners' project_uuid=project.uuid %}"
                                   class="unlink">Update Project Owners</a>
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Project Members</td>
                    <td>
                        {% for member in project_members %}
                            {{ member.display_name }}<br>
                        {% endfor %}
                    </td>
                    {% if is_pc or is_po or user.is_site_admin %}
                        <td>
                            <button class="btn btn-info mr-2">
                                <a href="{% url 'project_update_members' project_uuid=project.uuid %}"
                                   class="unlink">Update Project Members</a>
                            </button>
                        </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>Created By</td>
                    <td>{{ project.created_by }}</td>
                </tr>
                <tr>
                    <td>Created Date</td>
                    <td>{{ project.created_date }}</td>
                </tr>
                <tr>
                    <td>Modified By</td>
                    <td>{{ project.modified_by }}</td>
                </tr>
                <tr>
                    <td>Modified Date</td>
                    <td>{{ project.modified_date }}</td>
                </tr>
            </table>
            {% if is_pc or is_po or user.is_site_admin %}
                <button class="btn btn-success mr-2">
                    <a href="{% url 'project_update' project_uuid=project.uuid %}" class="unlink">Update</a>
                </button>
            {% endif %}
            <button class="btn btn-secondary mr-2">
                <a href="{% url 'projects' %}" class="unlink">Back</a>
            </button>
            {% if is_pc or user.is_site_admin %}
                <button class="btn btn-danger">
                    <a href="{% url 'project_delete' project_uuid=project.uuid %}" class="unlink">Delete</a>
                </button>
            {% endif %}
        </div>
    {% else %}
        <div class="container">
            <p>You are not currently logged in or not authorized to view this page</p>
        </div>

    {% endif %}
{% endblock %}