{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/logo/aerpaw-brand.png' %}" height="40"/>
    </a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                </li>
                <!-- TODO: expose CI/CD link only to ADMIN or OPERATOR level users -->
                {% if user.is_resource_manager or user.is_site_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cicd' %}">CI/CD</a>
                    </li>
                {% endif %}
                <!-- TODO: end of todo -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'resources' %}">Resources</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Experiments
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'experiments' %}">Workspace</a>
                        <a class="dropdown-item" href="{% url 'profiles' %}">Experiment Definition</a>
                        <a class="dropdown-item" href="{% url 'experiments' %}">Monitoring</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Accounts
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'profile' %}">User Profile</a>
                        <a class="dropdown-item" href="{% url 'request_roles' %}">Request Roles</a>
                        {#                        <a class="dropdown-item" href="{% url 'signup' %}">User Signup</a>#}
                        <a class="dropdown-item" href="{% url 'credential' %}">Credential</a>
                    </div>
                </li>
                {% if user.is_user_manager or user.is_site_admin %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            User Management
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'user_groups' %}">All User Roles</a>
                            <a class="dropdown-item" href="{% url 'user_requests' %}">Role Requests</a>
                        </div>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout: {{ user.display_name }}</a>
                </li>
            {% else %}
                <ul class="navbar-nav ml-auto ns-navbar pull-right">
                    <li class="nav-item {{ login_page }}">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="fa fa-fw fa-sign-in"></i> Login</a>
                    </li>
                </ul>
            {% endif %}
        </ul>
    </div>
</nav>
