{% extends 'base.html' %}
{% load static %}

{% block title %}
    User Credentials
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <h2>User Credentials</h2>
            username: {{ user.username }} <br><br>
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input class="btn btn-info" type="submit" value="Generate and Download SSH Keys" name="generatebtn"/>
                <br><br><br>
                <input class="btn btn-success mr-2" type="submit" value="Save" name="savebtn"/>
                <button class="btn btn-secondary" onclick="history.back();">Cancel</button>
            </form>
        </div>
    {% else %}
        <div class="container">
            <p>You are not currently logged in or are not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}